# Byte-compiled / optimized files
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
env/
*.env

# Logs and databases
*.log
*.sqlite3

# IDE-specific files
.vscode/
.idea/

# Dependency directories
node_modules/

